VITE_BACKEND_PORT = # The port on which the backend server is running
VITE_BACKEND_HOST = # The host or domain of the backend server
VITE_API_BASE_URL = # The base URL for the API endpoints
VITE_BASE_TABLES_API_URL = /api/v1/custom-tables
VITE_SSE_ENDPOINT = /clients
VITE_BASE_OVERLAY_API_URL = /api/v1/overlay
VITE_BASE_OVERLAY_SERVICE_URL = /overlay-service
VITE_BASE_STREAMERS_API_URL = /api/v1/registered-streamers
VITE_BASE_ADMIN_API_URL = /api/v1/admins
VITE_BASE_USER_API_URL = /api/v1/user
VITE_PLATFORM = win # The platform on which the frontend is running (e.g., linux, win, mac)