BACKEND_HOST= # The host name or IP address of the backend server. This is used for generating URLs and should be set to the public-facing address of your backend server.
BACKEND_PORT= # The port number on which the backend server is running. This is used for generating URLs and should be set to the port your backend server is listening on.
BACKEND_PUBLIC_ORIGIN= # The public origin URL of the backend server. This is used for generating URLs and

TWITCH_CLIENT_ID= # The client ID of your Twitch application. This is used for authenticating with the Twitch API.
TWITCH_CLIENT_SECRET= # The client secret of your Twitch application. This is used for authenticating with the Twitch API.
TWITCH_OWNER_ID= # The Twitch ID of the application owner.
TWITCH_REDIRECT_URI=api/v1/twitch/auth # The redirect URI for Twitch OAuth authentication. This should match the redirect URI configured in your Twitch application settings.
TWITCH_AUTH_REDIRECT_URL=   # The URL to which users will be redirected after completing Twitch OAuth authentication. This should be set to the public-facing address of your frontend server that handles the OAuth callback.
TWITCH_SCOPES=user:read:chat user:chat:write channel:bot user:bot channel:read:redemptions moderator:read:moderators user:read:moderated_channels moderation:read bits:read channel:read:subscriptions
TWITCH_WEBHOOK_ORIGIN= # The public origin URL of the backend server for Twitch webhook subscriptions. This is used for generating webhook callback URLs and should be set to the public-facing address of your backend server.
EVENTSUB_WEBHOOK_SECRET= # A secret string used to verify the authenticity of incoming webhook requests from Twitch. This should be a random string that is kept secret.

FRONTEND_ORIGIN=  # The public origin URL of the frontend server. This is used for generating URLs and should be set to the public-facing address of your frontend server.

JWT_SECRET= # A secret string used for signing JSON Web Tokens (JWTs). This should be a random string that is kept secret.
JWT_EXPIRY=1d # The expiration time for JSON Web Tokens (JWTs). This can be set to any valid duration string (e.g., "1h", "1d", "7d").

DB_PATH=/app/data/db.sqlite # The file path to the SQLite database used by the backend server. This should be set to a valid file path where the database can be stored.
