BACKEND_HOST=0.0.0.0 # In Docker auf 0.0.0.0 setzen damit der Container erreichbar ist
BACKEND_PORT=4005 # Port des Backend-Containers
BACKEND_PUBLIC_ORIGIN=https://weboverlayhosting.duckdns.org # Public origin (NGINX-Domain)

TWITCH_CLIENT_ID= # The client ID of your Twitch application. This is used for authenticating with the Twitch API.
TWITCH_CLIENT_SECRET= # The client secret of your Twitch application. This is used for authenticating with the Twitch API.
TWITCH_OWNER_ID= # The Twitch ID of the application owner.
TWITCH_REDIRECT_URI=api/v1/twitch/auth # Muss in den Twitch Developer Settings als Redirect URI eingetragen sein
TWITCH_AUTH_REDIRECT_URL=https://weboverlayhosting.duckdns.org/auth/callback # Frontend OAuth Callback URL
TWITCH_SCOPES=user:read:chat user:chat:write channel:bot user:bot channel:read:redemptions moderator:read:moderators user:read:moderated_channels moderation:read bits:read channel:read:subscriptions
TWITCH_WEBHOOK_ORIGIN=https://weboverlayhosting.duckdns.org # Public origin für Twitch EventSub Webhook Callbacks
EVENTSUB_WEBHOOK_SECRET= # A secret string used to verify the authenticity of incoming webhook requests from Twitch. This should be a random string that is kept secret.

FRONTEND_ORIGIN=https://weboverlayhosting.duckdns.org # CORS Origin des Frontends

JWT_SECRET= # A secret string used for signing JSON Web Tokens (JWTs). This should be a random string that is kept secret.
JWT_EXPIRY=1d # The expiration time for JSON Web Tokens (JWTs). This can be set to any valid duration string (e.g., "1h", "1d", "7d").

DB_PATH=/app/data/db.sqlite # The file path to the SQLite database used by the backend server. This should be set to a valid file path where the database can be stored.

MODE=production #production for production, development for development